@charset "utf-8";

@font-face {
  font-family: Source Sans Pro;
  src: url("../public/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
